# Основные понятия Python

## Условные выражения (IF...ELSE, IF...ELIF)

*Конструкиця IF...ELSE*

- `if (expression):
    (code_area1)
   else:
    (code_area2)`
    
*Конструкиця IF...ELIF*

- `if (expression1):
    (code_area1)
   elif (expression2):
    (code_area2)`

### Задание 1.1.1

(**1 балл**) Написать программу, которая будет выводить:
- "Неудовлетворительно", если студент набрал от 0-39 баллов
- "Удовлетворительно", если студент набрал от 40-59 баллов
- "Хорошо", если студент набрал от 60-79 
- "Отлично", если студент набрал от 80-100

In [ ]:
#Решение задания 1.1.1#
try:

    score = int(input("Введите количество баллов: "))

    if 0 <= score < 40:
        print("Неудовлетворительно")
    elif 40 <= score < 60:
        print("Удовлетворительно")
    elif 60 <= score < 80:
        print("Хорошо")
    elif 80 <= score <= 100:
        print("Отлично")
    else:
        print("Ошибка")
except ValueError:
    print("Некорректный ввод")

## Функции

*Функции должны делать одну вещь и делать ее хорошо и делать только ее.  © Роберт С. Мартин*

`def имя_функции(параметры):
     определение функции`

### Задание 1.1.2

(**1 балл**) Напишите программу с двумя функциями. Первая функция должна принимать в качестве параметра целое число и возвращать результат умножения этого числа на 2. Вторая функция должна принимать в качестве параметра целое число и возвращать результат деления этого числа на 4. Вызовите первую функцию, сохраните результат в переменной и передайте ее в качестве параметра во вторую функцию.

In [ ]:
#Решение задания 1.1.2#

def multiply_by_2(number):
    result = number * 2
    return result

def divide_by_4(number):
    result = number / 4
    return result

number = int(input("Введите число: "))

multiply_result = multiply_by_2(number)
divide_result = divide_by_4(multiply_result)

print("Результат умножения на 2:", multiply_result)
print("Результат деления на 4:", divide_result)

# Библиотека NumPy

**NumPy** (от Numerical Python - "числовой Python") - библиотека, предназначенная для работы с числовыми массивами, как одномерными, так и многомерными. Массивы библиотеки NumPy похожи на встроенный тип данных Python list, но обеспечивает гораздо более эффективное хранение и операциис данными при росте размера массивов.

In [ ]:
#импорт библиотеки

import numpy as np

Дан двумерный массив:

In [ ]:
x = np.array([[12, 52, 0, 32],
              [11, 3, 7, 9],
              [3, 5, 2, 4]])

x

## Задание 1.2.1

(**2 балла**) С использованием функции библиотеки NumPy посчитать:
- сколько элементов меньше 8 в данном массиве
- сколько элементов меньше 6 в каждой строке массива
- сколько элементов больше 4 в каждом столбце

In [ ]:
#Решение#

# 1. Сколько элементов меньше 8 в данном массиве
print("Элементов меньше 8:", np.sum(x < 8))

# 2. Сколько элементов меньше 6 в каждой строке массива
print("Элементов меньше 6 в строках:", np.sum(x < 6, axis=1))

# 3. Сколько элементов больше 4 в каждом столбце
print("Элементов больше 4 в столбцах:", np.sum(x > 4, axis=0))

С использованием функции библиотеки NumPy выяснить:
- имеются ли в массиве какие-либо значения, превышающие 13
- все ли значения в каждой строке кратны двум

In [ ]:
#Решение#

print("Значения превышают 13: ", np.any(x > 13))

print("Значения в строке кратны двум: ", np.all(x % 2 == 0, axis=1))

Создать еще один **рандомный** массив, объединить его с уже имеющимся и с помощью функций NumPy найти максимальный элемент в каждой строке.

In [ ]:
#Решение#

# Создание рандомного массива y
y = np.random.randint(1, 20, x.shape)

# Объединение массивов x и y
array = np.concatenate((x, y))

print("Объединенный массив:")
print(array)

# Нахождение максимального элемента в каждой строке объединенного массива
max = np.max(array, axis=1)

print("Максимальный элемент в каждой строке:")
print(max)

# Библиотека Pandas

**Pandas** - библиотека на языке Python для обработки и анализа данных. Pandas является надстройкой над библиотекой NumPy, обеспечивающей эффективную реализацию класса DataFrame. Объекты **DataFrame** - многомерные массивы с метками для строк и столбцов, а также зачастую с неоднородным типом данных и/или пропущенными данными.

In [1]:
#импорт библиотеки

import pandas as pd

In [4]:
path = "../DBs/titanic.csv"
dataset = pd.read_csv(path)

dataset

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

## Задание 1.3.1

(**2 балла**)
1. Вывести все записи, содержащие данные о пассажирах женского пола и в возрасте старше 20 лет

In [5]:
#Решение#

dataset[(dataset['Sex'] == 'female') & (dataset['Age'] > 20)]

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.0,0,2,11.1333
11,1,1,Miss. Elizabeth Bonnell,female,58.0,0,0,26.5500
...,...,...,...,...,...,...,...,...
870,1,2,Mrs. Samuel (Hannah Wizosky) Abelson,female,28.0,1,0,24.0000
875,1,1,Mrs. Thomas Jr (Lily Alexenia Wilson) Potter,female,56.0,0,1,83.1583
876,1,2,Mrs. William (Imanita Parrish Hall) Shelley,female,25.0,0,1,26.0000
878,0,3,Miss. Gerda Ulrika Dahlberg,female,22.0,0,0,10.5167
881,0,3,Mrs. William (Margaret Norton) Rice,female,39.0,0,5,29.1250

2. Вывести дубликаты по возрасту и классу и отсортировать по этим же значениям по убыванию

In [9]:
#Решение#

# Фильтруем датасет, оставляя только дубликаты
duplicates_dataset = dataset[dataset.duplicated(subset=['Age', 'Pclass'], keep=False)]

# Сортируем дубликаты по столбцам 'Age' и 'Pclass' в порядке убывания
sorted_duplicates = duplicates_dataset.sort_values(by=['Age', 'Pclass'], ascending=[False, False])

sorted_duplicates

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
95,0,1,Mr. George B Goldschmidt,male,71.00,0,0,34.6542
490,0,1,Mr. Ramon Artagaveytia,male,71.00,0,0,49.5042
53,0,1,Mr. Engelhart Cornelius Ostby,male,65.00,0,1,61.9792
453,0,1,Mr. Francis Davis Millet,male,65.00,0,0,26.5500
63,0,1,Mr. Albert A Stewart,male,64.00,0,0,27.7208
...,...,...,...,...,...,...,...,...
823,1,2,Master. Andre Mallet,male,1.00,0,2,37.0042
77,1,2,Master. Alden Gates Caldwell,male,0.83,0,2,29.0000
827,1,2,Master. George Sibley Richards,male,0.83,1,1,18.7500
466,1,3,Miss. Helene Barbara Baclini,female,0.75,2,1,19.2583
641,1,3,Miss. Eugenie Baclini,female,0.75,2,1,19.2583

3. Используя группировку:
- посчитать сколько пассажиров в каждом классе
- переименовать одну из колонок полученного датасета в колонку "Сount"
- вывести значение "Сount" для пассажиров второго класса

In [17]:
#Решение#

# Группировка и подсчет количества пассажиров в каждом классе
data_class = dataset.groupby('Pclass').size().reset_index(name='Сount')

print("Количество пассажиров в каждом классе:\n", data_class)

count_2 = data_class[data_class['Pclass'] == 2]['Сount'].values[0]
print(f"Количество пассажиров во втором классе:", count_2)

Количество пассажиров в каждом классе:
    Pclass  Сount
0       1    216
1       2    184
2       3    487
Количество пассажиров во втором классе: 184